@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
:root {
    --myLightGreen: #59aa5b;
    --myLightGreenShadow: #498B4C;
<<<<<<< HEAD
    --myBrown: #5a3921;
=======
    --myDarkGreen: #2C552D;
>>>>>>> 84ed83066542e4cec8f7384606d2ba23f2686769
    --myYellow: #f6d311;
    --titlesFont: Oswald, Courier, sans-serif;
    --bodyFont: Rubik, sans-serif;
}

h1, h2, h3 {
    font-family: var(--titlesFont);
    margin: 0 0.5em 0 0;
}

h4, h5, h6, p, span, input, label, tr, a, button {
    font-family: var(--bodyFont);
}

.imgAuction {
    width: 75%;
}

.bid-bar {
    width: 25%;
}

h1 {
    font-size: 1rem;
}

a {
    color: var(--myLightGreen)
}

.navbar-brand {
    font-family: var(--titlesFont);
    font-size: 1.5rem !important;
}

.navbar a {
    color: white !important;
}

.nav-link:hover, .dropdown-item:hover{
    color: var(--myDarkGreen) !important;
}

.dropdown-menu a {
    color: black !important;
}

.dropdown-menu a:hover {
    color: var(--myLightGreen) !important;
}

body {
    color: var(--myLightGreen);
    height: 100%;
}

body footer {
    background-color: var(--myLightGreen);
    color: white;
}

.colorGreen {
    color: var(--myLightGreen) !important
}

.bgColorGreen {
    background-color: var(--myLightGreen);
}

.bgColorGrey {
    background-color: #fafafa;
}

.borderColorGreen {
    border-width: 1px;
    border-style: solid;
    border-color: var(--myLightGreen) !important;
}

.btn-outline-green {
    color: var(--myLightGreen) !important;
    background-color: white !important;
    border-color: var(--myLightGreen) !important;
}

.outline-green {
    color: black !important;
    border-color: var(--myLightGreen) !important;
}

.btn-outline-green:hover {
    color: white !important;
    background-color: var(--myLightGreen) !important;
}

.btn-green {
    color: white !important;
    background-color: var(--myLightGreen) !important;
    border-color: var(--myLightGreen) !important;
}

.btn-green:hover {
    color: white !important;
    background-color: var(--myLightGreenShadow) !important;
    border-color: var(--myLightGreenShadow) !important;
}

.btn-green2 {
    color: white !important;
    background-color: var(--myLightGreen) !important;
    border-color: white !important;
}

.btn-green2:hover {
    color: white !important;
    background-color: var(--myLightGreenShadow) !important;
    border-color: var(--myLightGreenShadow) !important;
}

.btn-outline-darkGreen {
    /* color: var(--myLightGreen) !important; */
    /* background-color: white !important; */
    border-color: var(--myDarkGreen) !important;
}

.btn-outline-darkGreen:hover {
    /* color: white !important;
    background-color: var(--myLightGreen) !important; */
}

#btn-add-auction {
    color: var(--myLightGreen) !important;
    background-color: white !important;
    border-color: white !important;
}

#btn-add-auction:hover {
    color: white !important;
    background-color: var(--myLightGreenShadow) !important;
    border-color: var(--myLightGreenShadow) !important;
}

.dropdown-content {
    background: var(--myLightGreen);
}

.dropdown-content p {
    border-bottom-color: var(--myYellow);
}

.dropdown-content p:hover {
    background: var(--myYellow);
    border-color: var(--myYellow);
    color: var(--myLightGreen);
}

input, textarea {
    border-style: none;
}


#glass {
    background: transparent;
}

.search_text_input {
    border-bottom-width: thin;
    border-bottom-color: var(--myLightGreen);
    border-bottom-style: solid;
    background-color: transparent;
    /* color: var(--myYellow); */
}

.submit {
    background: var(--myLightGreen);
    color: var(--myYellow);
    text-align: center;
    border-style: solid;
    border-width: thin;
    border-color: var(--myLightGreen);
}

.submit:hover {
    background: var(--myYellow);
    color: var(--myLightGreen);
    font-weight: bold;
    cursor: pointer;
    border-style: solid;
    border-width: thin;
    border-color: var(--myLightGreen);
}

#search p, input {
    font-size: 0.9em;
}

#search input::placeholder, #search input {
    color: grey;
}

a {
    text-decoration: none;
}

/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
}

/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
}

/* The dots/bullets/indicators */

.dot {
    background-color: #bbb;
    border-radius: 50%;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/* Login / Sign up */


body {
    margin: 0px;
    padding: 0px;
    background-color: var(--myLightGreen);
}

#box {
    height: 28vh;
    width: 65%;
    background-color: #2D2D2D;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#signup_bg::before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-image: url("../images/signupMonkey.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 100%;

    -webkit-filter: brightness(50%);
    -moz-filter: brightness(50%);
    -o-filter: brightness(50%);
    -ms-filter: brightness(50%);
    filter: brightness(50%);
}

#main{
    height: 70vh;
    width: 45%;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    z-index: 99;
}

#loginform, #signupform {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    z-index: 999;
    display: flex;
    flex-direction: column;
}
#signupform{
    left: 75%;
    visibility: hidden;
}

#loginform h1, #signupform h1 {
    font-family: arial;
    font-size: 25px;
    color: var(--myLightGreen);
}

#loginform input, #signupform input {
    height: 40px;
    border: 0px;
    outline: none;
    border-bottom: 1px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
}

#loginform button,#signupform button{
    border: none;
    outline: none;
    margin-top: 1em;
    height: 40px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid black;
    transition: all .5s;
}
#loginform button:hover,#signupform button:hover{
    background-color:#2D2D2D;
    color: white;
}

#signupform #signup_submit_btn{
    height: 35px;
    background-color:var(--myLightGreen);
    color:white;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: 1em;
    margin-right: 175px;
    transition: all .5s;
}
#loginform #signup_submit_btn{
    height: 35px;
    background-color:var(--myLightGreen);
    color:white;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: 1em;
    margin-left: 175px;
    transition: all .5s;
}
#loginform #signup_submit_btn:hover,#signupform #signup_submit_btn:hover{
    background-color:var(--myLightGreenShadow);
}

#login_btn,#signup_btn{
    height: 35px;
    width: 120px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    outline: none;
    position: absolute;
    left: 75%;
    top: 65%;
    transform: translate(-50%, -50%);
    transition: all .5s;
}

#signup_btn {
    left: 25%;
}

#login_btn:hover, #signup_btn:hover {
    background-color: white;
    color: #2d2d2d;
    cursor: pointer;
}

#login_msg, #signup_msg {
    font-family: arial;
    font-size: 25px;
    color: white;
    position: absolute;
    top: 35%;
    left: 75%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#signup_msg {
    left: 25%;
}

.login_btn:active {
    border-bottom: 1px solid black;
}

.category-card:hover {
    -webkit-filter: brightness(50%);
    -moz-filter: brightness(50%);
    -o-filter: brightness(50%);
    -ms-filter: brightness(50%);
    filter: brightness(50%);
    transition: all .5s;
}

.text-shadow {
    text-shadow: 2px 2px black;
}
/* Profile */

#profile{
    margin-top: 1em;
}

#profile h2{
    margin: 1em;
}

#profile label{
    margin: 0;
}

#profile_top{
    padding: 1em;
    display: flex;
}

#profile_img img{
    width: 200px;
}

#profile_info{
    display: flex;
    flex-direction: column;
    margin-left: 2em;
    margin-top: 2em;
}

#profile_info div{
    margin-top: 1em;
}

.profile_info_title{
    font-weight: bold;
    width: 65px;
}

#profile_info .profile_info_content{
    margin-left: 1em;
    width: auto;
    max-width: 400;
}

.profile_info_title::after{
    float: right;
    content: ":";
}

#profile_info #profile_edit{
    margin-top: auto;
    margin-bottom: 1em;
}

#profile_edit button{
    background-color: var(--myLightGreen);
    padding: 0.2em 0.7em;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: all .5s;
}

#profile_edit button:hover{
    background-color: var(--myLightGreenShadow);
}

.collapsible{
    margin-top: 1em;
}

/* Style the button that is used to open and close the collapsible_btn content */
.collapsible_btn {
    background-color: var(--myLightGreen);
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
    transition: all 0.2s;
}
  
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible_btn:hover, .collapsible_btn:active {
    background-color: var(--myLightGreenShadow);
    outline: none;
}
  
/* Style the collapsible_btn content. Note: hidden by default */
.collapsible_content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    background-color: lightgray;
    transition: max-height 0.2s ease-out;
}

.collapsible_btn:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
    outline: none;
}
  
.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
    outline: none;
}

/* Edit Profile */

#edit_profile{
    margin-top: 1em;
}

#edit_profile h2{
    margin: 1em;
}

#edit_profile label{
    margin: 0;
}

#edit_profile_top{
    padding: 1em;
    display: flex;
    justify-content: center;
}

#image_upload{
    display: none;
}

#profile_img{
    width: 200px;
    vertical-align: middle;
    object-fit: cover;
    cursor: pointer;
    object-fit: cover;
}

#edit_profile_img{
    width: 200px;
    height: 200px;
    overflow: hidden;
    display:flex;
    justify-content:center;
    transition: all 0.5s;
}

#edit_profile_img:hover{
    filter: brightness(60%);
}

#edit_profile_info{
    display: flex;
    flex-direction: column;
    margin-left: 2em;
    justify-content: center;
}

#edit_profile_info div{
    margin-top: 1em;
}

#edit_profile_info div:first-child{
    margin-top: 0;
}

.edit_profile_info_title{
    font-weight: bold;
    width: 85px;
}

#edit_profile_info .edit_profile_info_content{
    margin-left: 1em;
    border: 0px;
    outline: none;
    border-bottom: 1px solid black;
    width: 300px;
}

.edit_profile_info_title::after{
    float: right;
    content: ":";
}

#edit_profile_submit{
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#edit_profile_submit button{
    background-color: var(--myLightGreen);
    padding: 0.2em 0.7em;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: all .5s;
}

#edit_profile_submit button:hover{
    background-color: var(--myLightGreenShadow);

#aboutUs_photos {

    position: relative;
    width: 142%;
    right: 21%;
}


#aboutUs_bg .mt-3{


    padding-top: 5%;



}